
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@600&family=Quattrocento+Sans&display=swap');

.home-title {
    font-family: "Caveat", "Quattrocento Sans", sans-serif;
    font-size: 2em;
    margin-top: 10px;
}

nav, footer {
    text-align: center;
    background-color: steelblue;
    padding: 10px;
}

a {
    padding: 10px;
    font-size: 1em;
    color: #083D77;
    margin: 40px;
    line-height: 1.5em;
}

h1, h2 {
    text-align: center;
    color: steelblue;
    margin: 0;

}

img {
    padding: 25px;
    width: 50%;
    display: block;
    margin: 0 auto; 
    border: 4px solid rgb(46, 96, 138);

}

.msg p {
    text-align: center;
    padding: 10px;
    font-family: "Caveat", "Quattrocento Sans", sans-serif;
    font-size: .8em;
}

#active {
    background-color: white;
    color: steelblue;
}

a:hover {
    background-color: white;
    color: steelblue;
  }
  
div { 
    max-width: 1600px;
    margin: 0 auto;

}

nav a {
    margin: 0 auto;
    text-decoration: none
}

#hero-msg h1, #hero-msg h4 {
    font-family: "Caveat";
    margin: 0 auto;
}

.button-box {
    margin: 0 auto;
}

main section {
    margin: 0 auto;
    box-sizing: border-box;
}

#background {
    height: 725px;
}

body {
    margin: 0;
    padding: 0;
    background-color:  white;
}

header {
    background-color: #BFCDE0;
}
nav a:hover {
    background-color:  white;
    padding: 35px;
}

.book, .join {
    background-color:  white;
    text-decoration: none;
    font-family: "Quattrocento Sans";
    font-size:  18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover, .join:hover {
    background-color:  #EE964B;
}

#background{
    background-color:  #BFCDE0;
}

.msg {
    background-color:  white;
    padding: 35px;
}

footer a {
    font-size: 1.5em;
    text-decoration: none
}

footer {
padding: 25px 50px;
margin-top: 200px;
}

footer .social img {
    padding-top: 15px;
}

.logo {
    width: 100px;
}

#logo_link{
    padding-top: 5px;
}

.icon {
    width: 80px;
}

#hero-img {
    width: 100%;
}

footer p a:hover {
    padding: 25px;
    font-size: 20px;
    margin: 20px auto;
    text-decoration: underline;
} 

.icon {
    padding-top: 10px;
}

.msg p {
    padding-bottom: 15px;
}

.rivers-card, .camping-card, .rapids-card {
    margin: 20px 0;

}

.card-img {
    border: 10px solid rgb(18, 95, 139);
}