header {
    max-width: 100%;
    background-color:#4284b3;
    font-family:'Nunito', sans-serif;
    font-size: 30px;
    margin: 5px;
    display: flex;
    align-items: center;   
}

.logo{
    width: 25%;
    padding: 5px;
}

nav a{
    color: white;
    text-decoration: none;
    padding: 5px 5px;
    margin-right: 80px;    
}




footer {
    color: white;
    background-color:#4284b3;
    font-family:'Nunito', sans-serif;
    font-size: 15px;
    padding: 5px;
    margin-top: 20px;

}

footer a{
    grid-column: 1/2; 
    color: white;
    text-decoration: none;
    margin: 2%
    
    
}

.social-media img{
    display: inline;
    width: 5%;
    margin: 1%;

}