@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&family=Raleway:wght@500&display=swap');


header {
    max-width: 100%;
    background-color:#4284b3;
    font-family:'Nunito', sans-serif;
    font-size: 30px;
    margin: 5px;
    display: flex;
    align-items: center;   
}

.logo{
    width: 25%;
    padding: 5px;
}

nav a{
    color: white;
    text-decoration: none;
    padding: 5px 5px;
    margin-right: 80px;    
}



h1{
    font-family:'Raleway', sans-serif;
    font-size: 60px;
    color: #00BBB4;
    text-align: center;
}

p{
    text-align: center;
    padding: 10px;
    margin: 40px;
    font-family: 'Nunito', sans-serif;
    font-size: 27px;
    color: #4284b3;
}

.subscribe{
    display: grid;
    place-content: center;
    grid-template-columns: 1fr 1fr;
    gap: 2%;
}

.subscribe img {
    max-width: 100%;
    padding: 10px;
    margin: 20px;

}

.subscribe h2{
    font-family: 'Raleway', sans-serif;
    color: #10B9B6;
    font-size: 40px;
    text-decoration: none;
    text-align: center;
    margin: 50px;
    grid-column: 2/2;
    grid-row: 3/4;

}

.subscribe h3{
    font-family: 'Raleway', sans-serif;
    color: #10B9B6;
    font-size: 40px;
    text-decoration: none;
    text-align: center;
    margin: 50px;
    grid-column: 2/2;
    grid-row: 3/4;

}

.subscribe p{
    font-family: "Nunito", sans-serif;
    color: #4284b3;
    font-size: 25px;
    text-decoration: none;
    text-align: center;
    margin: 80px;
    grid-column: 2/2;
    grid-row: 3/4;
}

.onsite-img .joinonline-img{
    width: 50%;
    grid-column:1/2;
    grid-row: 1/4;
    align-content: center;
    margin: 30px;
}

body {
    max-width: 100%;
    margin: 0 auto;
    padding: 10px;
    font-size: 18px;
}

footer {
    color: white;
    background-color:#4284b3;
    font-family:'Nunito', sans-serif;
    font-size: 15px;
    padding: 5px;
    margin-top: 20px;
}

footer a{
    color: white;
    text-decoration: none;
    margin: 2%
    
    
}

.social-media img{
    display: inline;
    width: 5%;
    margin: 1%;

}