@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&family=Raleway:wght@500&display=swap');


header {
    max-width: 100%;
    background-color:#4284b3;
    font-family:'Nunito', sans-serif;
    font-size: 30px;
    margin: 5px;
    display: flex;
    align-items: center;
       
}

.logo{
    width: 25%;
    padding: 5px;
}

nav a{
    color: white;
    text-decoration: none;
    padding: 5px 5px;
    margin-right: 80px;    
}

#intro{
    width: 90%;
    margin: 0 auto;
}

h1{
    font-family:'Raleway', sans-serif;
    font-size: 50px;
    color: #00BBB4;
    text-align: center;
}

.daniel, .marie, .natasha, .carol, .andre{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2%;
}

.daniel img, .marie img, .andre img{
    width: 70%;
    grid-column:1/2;
    grid-row: 1/4;
    align-content: center;
    margin: 30px;
}

.natasha img, .carol img{
    width: 70%;
    grid-column:2/2;
    grid-row: 1/4;
    align-content: center;
    margin: 30px;
}


.daniel h2, .marie h2, .andre h2{
    color: #1d98c9;
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    text-decoration: none;
    grid-column:2/2;
    grid-row: 1/4;
    text-align: center;
}

.natasha h2, .carol h2{
    color: #1d98c9;
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    text-decoration: none;
    grid-column:1/2;
    grid-row: 1/4;
    text-align: center;
}

.marie p, .natasha p, .andre p{
    color: #10B9B6;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    text-decoration: none;
    text-align: center;
    
}


.daniel p, .carol p{
    color: #10B9B6;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    text-decoration: none;
    text-align: center;
    margin-top: 10%;
}

.daniel p, .marie p, .andre p{
    grid-column:2/2;
    grid-row: 2/3;
}
    
.natasha p, .carol p{
    grid-column:1/2;
    grid-row: 2/3;
}


footer {
    color: white;
    background-color:#4284b3;
    font-family:'Nunito', sans-serif;
    font-size: 15px;
    padding: 5px;
    margin-top: 20px;

}

footer a{
    grid-column: 1/2; 
    color: white;
    text-decoration: none;
    margin: 2%
    
    
}

.social-media img{
    display: inline;
    width: 5%;
    margin: 1%;

}