@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&family=Raleway:wght@500&display=swap');



header {
    background-color:#4284b3;
    font-family:'Nunito', sans-serif;
    font-size: 30px;
    margin: 5px;
    display: flex;
    align-items: center;
    
}

.logo{
    width: 40%;
    padding: 5px 5px;
}

#logo-home{
        justify-self: center;
        align-self: center;
    }

nav a{
    color: white;
    text-decoration: none;
    padding: 5px 5px;
    margin-right: 70px;
    
    
}

#intro{
    width: 80%;
    margin: 0 auto;
}

#main-img{
    max-width: 100%;
}

h1{
    font-family:'Nunito', sans-serif;
    font-size: 75px;
    color: #00BBB4;
}

p{
    text-align: center;
    padding: 10px;
    font-family: 'Raleway', sans-serif;
    font-size: 27px;
    width: 0 auto;
    

}


.content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5%;
    vertical-align: middle; 
}

.content img {
    max-width: 100%;
    padding: 10px;
    margin: 0 auto;

}

.content a{
    text-align: center;
    padding: 40px;
    color: #10B9B6;
    font-size: 40px;
    text-decoration: none;
    vertical-align: middle;
}

.content a:hover{
    text-align: center;
    margin-right: 1px;
    padding: 5px;
    border: 1px #10B9B6;
}

body {
    max-width: 100%;
    margin: 0 auto;
    padding: 10px;
    font-size: 18px;
    text-align: center;
}

footer {
    color: white;
    background-color:#4284b3;
    font-family:'Nunito', sans-serif;
    font-size: 15px;
    padding: 5px;
    margin-top: 80px;
 
}

footer a{
    color: white;
    text-decoration: none;
    margin: 2%
}

.social-media img{
    display: inline;
    width: 5%;
    margin: 1%;

}

