@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&family=Raleway:wght@500&display=swap');


header {
    max-width: 100%;
    background-color:#4284b3;
    font-family:'Nunito', sans-serif;
    font-size: 30px;
    margin: 5px;
    display: flex;
    align-items: center;
    
}

.logo{
    width: 25%;
    padding: 5px;
}

nav a{
    color: white;
    text-decoration: none;
    padding: 5px 5px;
    margin-right: 70px;    
}

#intro{
    width: 90%;
    margin: 0 auto;
}

#main-img{
    max-width: 100%;
}

h1{
    font-family:'Raleway', sans-serif;
    font-size: 75px;
    color: #00BBB4;
    text-align: center;
}

p{
    text-align: center;
    margin: 45px;
    font-family: 'Nunito', sans-serif;
    font-size: 27px;
    color:#4284b3
}


.content{
    display: grid;
    place-content: center;
    grid-template-columns: 1fr 1fr;
    gap: 2%;

}

.content img {
    max-width: 100%;
    padding: 10px;
    margin: 20px;
    

}

.content a{
    font-family: 'Raleway', sans-serif;
    margin: 100px;
    color: #10B9B6;
    font-size: 40px;
    text-decoration: none;
    text-align: center;
    display: center;
    
}

body {
    max-width: 100%;
    margin: 0 auto;
    padding: 10px;
    font-size: 18px;
}

footer {
    color: white;
    background-color:#4284b3;
    font-family:'Nunito', sans-serif;
    font-size: 15px;
    padding: 5px;
    margin-top: 20px;
}

footer a{
    color: white;
    text-decoration: none;
    margin: 2%
    
}

.social-media img{
    display: inline;
    width: 5%;
    margin: 1%;

}

