@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&family=Raleway:wght@500&display=swap');



header {
    background-color:#4284b3;
    font-family:'Nunito', sans-serif;
    font-size: 30px;
    padding: 5px;
    margin: 2%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.logo{
    margin: 5%;

}

nav a {
    color: white;
    text-decoration: none;
    gap: 10%;

}
#intro{
    width: 80%;
    margin: 0 auto;
}

#main-img{
    max-width: 100%;
}

h1{
    font-family:'Nunito', sans-serif;
    font-size: 75px;
    color: #00BBB4;
}

p{
    text-align: center;
    padding: 10px;
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
    width: 0 auto;
    

}

.content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5%;
    vertical-align: middle; 
}

.content img {
    max-width: 100%;
    padding: 10px;
    margin: 0 auto;

}

.content a{
    text-align: center;
    padding: 40px;
    color: #10B9B6;
    font-size: 40px;
    text-decoration: none;
    vertical-align: middle;


}


body {
    max-width: 100%;
    margin: 0 auto;
    padding: 10px;
    font-size: 18px;
    text-align: center;
}

footer {
    color: white;
    background-color:#4284b3;
    font-family:'Nunito', sans-serif;
    font-size: 15px;
    padding: 5px;
    margin-top: 80px;
 
}

footer a{
    color: white;
    text-decoration: none;
    margin: 2%
}

.social-media img{
    display: inline;
    width: 5%;
    margin: 1%;

}

