@import url(https://fonts.googleapis.com/css2?family=Nunito:wght@200;300&family=Raleway:wght@300;400&display=swap);


header {
    padding: 1em;
    text-align: center;
    color: var(--headline-color-on-color);
    background-color: var(--paragraph-background-color);
}

body {
    max-width: 100%;
    margin: 0 auto;
    padding: 4em;
    font-size: 18px;
    text-align: center;
}

.home.msg {

}

.pages{
    display: grid;
    grid-template-columns: 1fr 1fr;
   
}

